<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance</title>
    <link rel="icon" type="image/png" href="../storage/imgs/logo.png">
    <link rel="stylesheet" href="../css/balance.css">
</head>
<body>
    <header>
        <div class="up">
            <div class="header">
                <div class="header__item1">
                    <img src="../storage/imgs/logoR.png">
                    <h3>RYUBANK</h3>
                </div>
                <div class="header__item2">
                    <img src="../storage/imgs/ThreeLines.svg">
                </div> 
            </div>
            <div class="circle">
                <div class="text">
                    <h2>Total Balance $2'360.500</h2>
                </div>
            </div>
        </div>   
    </header>
    <main>
        <section class="down">
            <div class="miniContainers">
                <div class="miniContainer1">
                    <p>Assets</p>
                </div>
                <div class="miniContainer2">   
                    <p>Debt</p>
                </div>
                <div class="miniContainer3">
                    <p>Income</p>
                </div>
            </div>
            <div class="bigImg">
                <img src="../storage/imgs/tabla.png">
            </div>
            <div class="announcement">
                <div class="imgError">
                    <img src="../storage/imgs/error.svg">
                </div>  
                <div class="contain">
                    <img src="../storage/imgs/GreenCard.svg">
                    <div class="contain__text">
                        <h3>Remember!</h3>
                        <p>You forgot to add debt card number at payment #1298. Add it now.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/imgs/house.svg">
                </a>
            </li>
            <li>
                <a class="selection" href="./balance.html">
                    <img src="../storage/imgs/bookGreen.svg">
                    <img class="point" src="../storage/imgs/point.svg">
                </a>
            </li>
            <li>
                <a href="./pay.html">
                    <img src="../storage/imgs/menus.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/imgs/bell.svg">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/imgs/whiteMan.svg">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>