<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay</title>
    <link rel="stylesheet" href="../css/pay.css">
    <script src="script.js"></script>
</head>
<body>
    <header>
        <div class="header__item1">
            <img src="../storage/imgs/logoR.png">
            <h3>RYUBANK</h3>
        </div>
        <div>
            <img src="../storage/imgs/ThreeLines.svg">
        </div>    
    </header>
    <main>
        <section class="up">
            <div class="title">
                <h2>Investing Tips</h2>
            </div>
            <div class="container">
                <div class="img">
                    <div class="falling-images">
                        <img src="../storage/imgs/Ellipse 3.svg" alt="Image 1" class="falling-image">
                        <img src="../storage/imgs/Vector.svg" alt="Image 2" class="falling-image1">
                        <img src="../storage/imgs/Ellipse 4.svg" alt="Image 2" class="falling-image2">
                      </div>
                    <img src="../storage/imgs/pig.svg">
                </div>
                <div class="inText">
                    <img src="../storage/imgs/error.svg">
                    <h3>How to save money?</h3>
                    <p>By El Tiempo</p>
                    <button>LEARN MORE</button> 
                </div>
            </div>
        </section>
        <section class="down">
            <div class="title">
                <h2>My Cards(4)</h2>
            </div>
            <div class="scroll">
                <div class="cardsContainer">
                    <div class="card1" onclick="voltearContenedor()">
                        <div class="frontal">
                            <div class="topCard">
                                <img src="../storage/imgs/SIM.svg">
                                <small>**** 6175</small>
                            </div>
                            <div class="centerCard">
                                <h1>$ 47,417</h1>
                            </div>
                            <div class="footerCard">
                                <img src="../storage/imgs/masterCard.svg">
                                <img src="../storage/imgs/logoNu.png">
                            </div>
                        </div>
                        <div class="trasera">
                            <div class="slash">
                                <img src="../storage/imgs/rectangle.png">
                            </div>
                            <div class="midle">
                                <small>CVC: 245</small>
                                <small>GOOD THRU: 02/29</small>
                            </div>
                            <div class="downBack">
                                <h3>débito</h3>
                                <img src="../storage/imgs/logoNu.png">
                            </div>
                        </div>
                    </div>
                    <div class="card2" onclick="voltearContenedor()">
                        <div class="frontal2">
                            <div class="topCard">
                                <img src="../storage/imgs/SIM.svg">
                                <small>**** 6185</small>
                            </div>
                            <div class="centerCard">
                                <h1>$ 220.600</h1>
                            </div>
                            <div class="footerCard2">
                                <img src="../storage/imgs/visa.svg">
                                <img src="../storage/imgs/cajaSocial.png">
                            </div>
                        </div>
                        <div class="trasera2">
                            <div class="slash">
                                <img src="../storage/imgs/rectangle.png">
                            </div>
                            <div class="midle">
                                <small>CVC 459</small>
                                <small>GOOD THRU 04/27</small>
                            </div>
                            <div class="downBack">
                                <h3>débito</h3>
                                <img src="../storage/imgs/cajaSocial.png">
                            </div>
                        </div>
                    </div>
                    <div class="card3" onclick="voltearContenedor()">
                        <div class="frontal3">
                            <div class="topCard">
                                <img src="../storage/imgs/SIM1.svg">
                                <small>**** 2568</small>
                            </div>
                            <div class="centerCard">
                                <h1>$ 851,920</h1>
                            </div>
                            <div class="footerCard">
                                <img src="../storage/imgs/masterCard1.svg">
                                <img src="../storage/imgs/Bancolombia.png">
                            </div>
                        </div>
                        <div class="trasera3">
                            <div class="slash">
                                <img src="../storage/imgs/rectangle.png">
                            </div>
                            <div class="midle">
                                <small>CVC 821</small>
                                <small>GOOD THRU 09/26</small>
                            </div>
                            <div class="downBack">
                                <h3>débito</h3>
                                <img src="../storage/imgs/Bancolombia.png">
                            </div>
                        </div>
                    </div>
                    <div class="card4" onclick="voltearContenedor()">
                        <div class="frontal4">
                            <div class="topCard">
                                <img src="../storage/imgs/SIM.svg">
                                <small>**** 7549</small>
                            </div>
                            <div class="centerCard">
                                <h1>$ 584,467</h1>
                            </div>
                            <div class="footerCard2">
                                <img src="../storage/imgs/visa.svg">
                                <img class="imgdav" src="../storage/imgs/davivienda.png">
                            </div>
                        </div>
                        <div class="trasera4">
                            <div class="slash">
                                <img src="../storage/imgs/rectangle.png">
                            </div>
                            <div class="midle">
                                <small>CVC 650</small>
                                <small>GOOD THRU 11/28</small>
                            </div>
                            <div class="downBack">
                                <h3>débito</h3>
                                <img class="imgdav" src="../storage/imgs/davivienda.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/imgs/house.svg">
                </a>
            </li>
            <li>
                <a href="./balance.html">
                    <img src="../storage/imgs/book.svg">
                </a>
            </li>
            <li>
                <a class="selection" href="views/pay.html">
                    <img src="../storage/imgs/menuGreen.svg">
                    <img class="point" src="../storage/imgs/point.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/imgs/bell.svg">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/imgs/whiteMan.svg">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>